body {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas: "main" "footer";
  overflow-x: hidden;
  background: #161616;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}
body .footer {
  z-index: 1;
  --footer-background:#161616;
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 12rem;
}
body .footer .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}
body .footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
          animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}
body .footer .content {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  padding: 2rem;
  background: var(--footer-background);
}
body .footer .content a, body .footer .content p {
  color: #F5F7FA;
  text-decoration: none;
}
body .footer .content b {
  color: white;
}
body .footer .content p {
  margin: 0;
  font-size: 0.75rem;
}
body .footer .content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .footer .content > div > div {
  margin: 0.25rem 0;
}
body .footer .content > div > div > * {
  margin-right: 0.5rem;
}
body .footer .content > div .image {
  align-self: center;
  width: 4rem;
  height: 4rem;
  margin: 0.25rem 0;
  background-size: cover;
  background-position: center;
}

@-webkit-keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}

@keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@-webkit-keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}


.description {
  font-family: 'Muli', sans-serif;
  left: 15%;
  bottom: 100px;
  color: white;
  font-size: 22px;
  position: fixed;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.description-p {
  font-family: 'Muli', sans-serif;
  left: 19%;
  bottom: 55%;
  color: white;
  font-size: 15px;
  position: fixed;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  font-family: 'Muli', sans-serif;
  left: 50%;
  bottom: 55%;
  color: white;
  font-size: 42px;
  position: fixed;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.infos {
  font-family: 'Muli', sans-serif;
  left: 85%;
  bottom: 100px;
  color: white;
  font-size: 22px;
  position: fixed;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.discord {
  font-family: 'Muli', sans-serif;
  left: 85%;
  bottom: 85px;
  color: white;
  font-size: 15px;
  position: fixed;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.website {
  font-family: 'Muli', sans-serif;
  left: 85%;
  bottom: 55px;
  color: white;
  font-size: 15px;
  position: fixed;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  position: fixed;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--footer-background);
}


html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

.crossfade > figure {
  animation: imageAnimation 12s linear infinite;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  color: transparent;
  height: 100vh;
  left: 0px;
  opacity: 0;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.crossfade > figure:nth-child(1) {
  background-image: url('../img/background-1.jpg');
}
.crossfade > figure:nth-child(2) {
  animation-delay: 3s;
  background-image: url('../img/background-2.jpg');
}
.crossfade > figure:nth-child(3) {
  animation-delay: 6s;
  background-image: url('../img/background-3.jpg');
}
.crossfade > figure:nth-child(4) {
  animation-delay: 9s;
  background-image: url('../img/background-4.jpg');
}

@keyframes imageAnimation {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    animation-timing-function: ease-out;
    opacity: 1
  }
  25% {
    opacity: 0
  }
}